# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# Test binary, built with `go test -c`
*.test
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.idea
*vendor

cover.out
coverage.txt

.DS_Store
etc/sapling_scaffold_backend.toml
etc/sapling_scaffold_backend.env
etc/unit_test.env
etc/ssl
sapling_scaffold_backend
dist/
sapling_scaffold_backend-api
vendor/